.page-header {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 75);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 2rem;
  background-color: #f50505;
  color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 50);
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
}

.post-card {
  color: white;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 75);
  font-family: 'Courier New', Courier, monospace;
  inline-size: 100%;
  max-inline-size: 500px;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #5f5f5f;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 50);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-card h2 {
  margin: 0;
}

.post-card button {
  font-family: 'Courier New', Courier, monospace;
  align-self: flex-end;
  padding: 0.5rem 1rem;
  background-color: #ef4444;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 50);
}

.post-card button:hover {
  background-color: #ff0000;
}
