.page-header {
  text-align: center;
  padding: 2rem;
  background-color: #f53d05;
  color: #ffffff;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
}

.post-card {
  width: 100%;
  max-width: 500px;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #f9fafb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-card h2 {
  margin: 0;
}

.post-card button {
  align-self: flex-end;
  padding: 0.5rem 1rem;
  background-color: #ef4444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.post-card button:hover {
  background-color: #ff0000;
}
